{% for game in games %}

<div class="searchableCard card-sm" id="1">
    <div class="card-img">
        <img src="{{gameImg}}">
    </div>
    <div id="1-inner" class="card-content">
        <span class="game-title"><img style="position: relative; bottom: -1px;" src="/img/{{platform}}logo.png" alt=" ">{{gameTitle}}</span>           
        <div class="card-content-right">
            <a href="{{downloadLink}}"><span class="material-icons">download</span></a>
        </div>
        <div class="card-content-left">{{gameSize}}</div>
    </div>
</div>

{% endfor %}